{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% load mptt_tags %}
{% block title %}Outline Overview{% endblock %}
{% block content %}

    <h1 class="text-center">Outlines</h1>
    <div class="row">
        {% for outline in outline %}
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title">{{ outline.name|upper }}</h4>
                        <a href="{% url 'show_outline' outline.program %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h3 class="text-center">Or add a new Outline</h3>
    <div class="row justify-content-center">
        <div class="mx-auto">
            <form class="form-inline" method="post" action="{% url 'add_root_outline' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ outline_form.name }}
                </div>
                <button type="submit" class="btn btn-success btn-group-xs" style="padding: 7px 20px">Submit</button>
            </form>
        </div>
    </div>
    {% render_bundle 'outlinetree' %}
{% endblock %}