{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% load mptt_tags %}
{% block title %}User Outline{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if student %}
                <h2>Progress for {{ student.get_full_name }}</h2>
            {% else %}
                <h2>Core Outline</h2>
            {% endif %}
        </div>
        <div class="panel-body">
            <div id="tree">
                <ul id="treeData" data-student_id="{{ student.id }}">
                    {% recursetree outline %}
                        <li data-nodeid="{{ node.id }}"
                            data-program="{{ node.program }}"
                            data-selected="{{ node.passed|lower }}"
                            data-folder="true">
                            {{ node.name }}

                            <ul class="children">
                                {% if node.related %}
                                    {% for relatedNode in node.related %}
                                        {% if relatedNode.booking %}
                                            <li data-unselectable="true"
                                                data-inlineEdit="false"
                                                data-nodeid="{{ relatedNode.id }}"
                                                data-selected="{{ node.passed|lower }}">
                                                Booking: {{ relatedNode.booking }}
                                            </li>
                                        {% endif %}
                                        {% if relatedNode.file %}
                                            <li data-unselectable="true"
                                                data-inlineEdit="false"
                                                data-nodeid="{{ relatedNode.id }}"
                                                data-selected="{{ node.passed|lower }}">
                                                File : {{ relatedNode.file }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    {{ children }}
                                {% endif %}
                            </ul>
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
        </div>
        {% if not student %}
            <div class="panel-footer">
                <button id="btnAddChild" class="btn btn-xs btn-primary">Add child</button>
            </div>
            </div>
        {% endif %}
    {% render_bundle 'outlinetree' %}
{% endblock %}