ansicolors==1.0.2
appdirs==1.4.3
configparser==3.5.0
defusedxml==0.5.0
Django==1.11
django-gulp==2.5.1
django-social-auth==0.7.28
django-webpack-loader==0.4.1
env-tools==2.0.0
futures==3.0.5
httplib2==0.10.3
oauth2==1.9.0.post1
oauthlib==2.0.2
packaging==16.8
psutil==4.3.0
PyJWT==1.5.0
pyparsing==2.2.0
python-decouple==3.0
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
stripe==1.54.0
tini==3.0.1
