{% extends 'home.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}File List{% endblock %}
{% block user_home %}
    <h1 class="text-center">File List</h1>
    {% if file_list %}
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>File</th>
                    <th>Date Uploaded</th>
                </tr>
                </thead>
                <tbody>
                {% for file in file_list %}
                    <tr>
                        <td><a href="http://minalanguage.s3.amazonaws.com/{{ file.file }}">{{ file.name }}</a></td>
                        <td>{{ file.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 class="text-center">Nothing yet!</h3>
    {% endif %}
    {% render_bundle 'files' %}
{% endblock %}