{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}User List{% endblock %}
{% block content %}
    <h1 class="text-center">Manage User Files</h1>
    {% if user_list %}
        <h2>Students</h2>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>First name</th>
                <th class="hidden-xs">Last name</th>
                <th class="hidden-xs">Username/Email</th>
                <th class="hidden-xs">Last login</th>
                <th class="hidden-xs">Total Files</th>
                <th class="hidden-xs">Total Paid</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
                {% if user.totalPaid.totalPaid %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td class="hidden-xs">{{ user.last_name }}</td>
                        <td class="hidden-xs">{{ user.username }}</td>
                        <td class="hidden-xs">{{ user.last_login }}</td>
                        <td class="hidden-xs">{{ user.totalFiles }}</td>
                        <td class="hidden-xs">
                            ${% if user.totalPaid.totalPaid %}{{ user.totalPaid.totalPaid }}{% else %}0{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'manage_user_files' user.id %}" class="btn btn-primary">Upload Files</a>

                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Progress <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for program in program_list %}
                                        <li>
                                            <a href="{% url 'show_outline' program.program %}?student_id={{ user.id }}">
                                                {{ program.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <h2>Whatever people</h2>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>First name</th>
                <th class="hidden-xs">Last name</th>
                <th class="hidden-xs">Username/Email</th>
                <th class="hidden-xs">Last login</th>
                <th class="hidden-xs">Total Files</th>
                <th class="hidden-xs">Total Paid</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
                {% if not user.is_staff and not user.totalPaid.totalPaid %}
                    <tr class="text-muted" style="font-style: italic">
                        <td>{{ user.first_name }}</td>
                        <td class="hidden-xs">{{ user.last_name }}</td>
                        <td class="hidden-xs">{{ user.username }}</td>
                        <td class="hidden-xs">{{ user.last_login }}</td>
                        <td class="hidden-xs">{{ user.totalFiles }}</td>
                        <td class="hidden-xs">
                            ${% if user.totalPaid.totalPaid %}{{ user.totalPaid.totalPaid }}{% else %}0{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'manage_user_files' user.id %}" class="btn btn-primary">Upload Files</a>

                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Classes <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for program in program_list %}
                                        <li>
                                            <a href="{% url 'show_outline' program.program %}?student_id={{ user.id }}">
                                                {{ program.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% render_bundle 'files' %}
{% endblock %}