{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Files{% endblock %}
{% block content %}
    <h1 class="text-center">Manage User Files</h1>
    <div class="panel panel-default">
        <div class="panel-heading">User List</div>
        <div class="panel-body"></div>
        {% if user_list %}
            <table class="table">
                <thead>
                <tr>
                    <th>First name</th>
                    <th class="hidden-xs">Last name</th>
                    <th class="hidden-xs">Username/Email</th>
                    <th class="hidden-xs">Date joined</th>
                    <th class="hidden-xs">Total Files</th>
                    <th class="hidden-xs">Total Paid</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                    {% if not user.is_superuser %}
                        <tr>
                            <td>{{ user.first_name }}</td>
                            <td class="hidden-xs">{{ user.last_name }}</td>
                            <td class="hidden-xs">{{ user.username }}</td>
                            <td class="hidden-xs">{{ user.date_joined }}</td>
                            <td class="hidden-xs">{{ user.totalFiles }}</td>
                            <td class="hidden-xs">
                                ${% if user.totalPaid.totalPaid %}{{ user.totalPaid.totalPaid }}{% else %}0{% endif %}
                            </td>
                            <td><a href="{% url 'manage_user_files' user.id %}" class="btn btn-primary">Upload Files</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% render_bundle 'files' %}
{% endblock %}