packages:
  yum:
    postgresql94: []
    postgresql94-devel: []
    git: []
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Minalanguage.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "Minalanguage/wsgi.py"