packages:
  yum:
    gcc: []
    gcc-c++: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql94: []
    postgresql94-devel: []
    git: []
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Minalanguage.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "Minalanguage/wsgi.py"
container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_createsu:
        command: "python manage.py createsu"
    03_npm_install_global_webpack:
        command: "npm install npm minimatch@3.0.2 webpack webpack-cli gulp-cli -g"
    04_npm_build:
        command: "npm install"
    05_npm_run_build_prod:
        command: "npm run build"
    06_temp_uninstall:
        command: "source /opt/python/run/venv/bin/activate && yes | pip uninstall futures django-gulp"
commands:
    01_node_download_install:
        cwd: /tmp
        command: 'curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash -'
    02_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'sudo yum -y install nodejs'
#    01_node_install:
#        cwd: /tmp
#        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
#        command: 'yum install -y nodejs npm --enablerepo=epel'
#    02_npm_install:
#        cwd: /tmp
#        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
#        command: 'curl -L https://www.npmjs.org/install.sh | sh'
#    03_node_update:
#        cwd: /tmp
#        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
#        command: 'npm install -g n && n stable'
