<div class="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="banner-text mx-auto text-center">
                    <div class="text-border">
                        <h2 class="text-dec">Hello.</h2>
                    </div>
                    <div class="intro-para text-center quote">
                        <p class="big-text">Welcome to Mina's Language!</p>
                        <p class="small-text">Whether you want to learn Korean or Chinese
                            <br>I will teach you the fastest way to learn the two most popular language in the
                            world!</p>
                        {#                            <a href="#" class="btn">GET A QUOTE</a>#}
                    </div>
                    <a href="#highlights" class="mouse-hover">
                        <div class="mouse"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js'></script>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        Typed.new(".text-dec", {
            strings: ["Hello.", "你好。", "안녕하세요?"],
            typeSpeed: 100,
            backDelay: 1000,
            showCursor: false,
            loop:true,
        });
    });
</script>