<section id="highlights" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section mx-auto text-center">
                <h4>Highlights</h4>
                <p>We have a variety of features specially catered to individual interests, and with the help of
                    technology
                    <br>We bring you the best individualized learning experience for Korean and Chinese!</p>
                <hr class="bottom-line">
            </div>
            <div class="feature-info">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fea">
                            <div class="heading pull-right">
                                <h4>Wide variety of focus</h4>
                                <p>Whether studying for travelling, business, school, or personal interest, Mina's
                                    teaching method will ensure you get the right amount of knowledge to get started in
                                    your journey!</p>

                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fea">
                            <div class="heading pull-right">
                                <h4>Individually catered lectures</h4>
                                <p>Lectures are always individualized and planned ahead of schedule, so each person will
                                    receive a unique learning experience</p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-book"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fea">
                            <div class="heading pull-right">
                                <h4>24/7 Access</h4>
                                <p>Book meetings, download lecture files, track your progress, and access to ask any
                                    questions anytime, anywhere.</p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-comments"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>