<section id="whyus" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3>300</h3>
                            <p>Words in Korean</p>
                            <div class="icon">한</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3>500</h3>
                            <p>Characters in Chinese</p>
                            <div class="icon">中</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3>80%</h3>
                            <p>Daily Conversation</p>
                            <i class="fa fa-comment-o icon" style="margin-bottom: 26px"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="detail-info">
                        <div>
                            <h3 class="det-txt">Learning Chinese or Korean is EASY</h3>
                            <h4 class="sm-txt">(If you know the MINA way)</h4>
                        </div>
                        <p class="det-p">
                            Learning Chinese and Korean is really easy! By using the MINA way, we will converse 75% of
                            the time, memorize 15% of the time and practice 10% of the time to expand and embrace the
                            rich culture behind these beautiful languages.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>