<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2 class="white">What our students think</h2>
                <p class="white">Here are some testimonials</p>
                <hr class="bottom-line bg-white">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-comment">
                    <p class="text-par">"I learned to speak some pretty complex Korean sentences in under four lectures!
                        Her explanation makes it really easy and straight to the point."</p>
                    <p class="text-name">Timothy Graham</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="text-comment">
                    <p class="text-par">"She is really patient and nice, her classes are vibrant and interesting, will
                        look forward to study with her again!"</p>
                    <p class="text-name">Michelle Jose</p>
                </div>
            </div>
        </div>
    </div>
</section>