<section id="courses" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Courses</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br>
                    maiores, magni dolorum aliquam.</p>
                <hr class="bottom-line">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 padleft-right">
                <figure class="imghvr-hinge-left">
                    <img src="https://s3-us-west-1.amazonaws.com/minalanguage/media/china-flag.jpg" class="img-responsive">
                    <figcaption>
                        <h3>Chinese Intro/Intermediate/Advanced</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam
                            consequatur libero fugiat, similique quis.</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6 padleft-right">
                <figure class="imghvr-hinge-right">
                    <img src="https://s3-us-west-1.amazonaws.com/minalanguage/media/korea-flag.jpg" class="img-responsive">
                    <figcaption>
                        <h3>Korean Intro/Intermediate/Advanced</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam
                            consequatur libero fugiat, similique quis.</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
        </div>
    </div>
</section>