<section id="courses" class="section-padding">
    <div class="container">
        <div class="header-section mx-auto text-center">
            <h2>Courses</h2>
            <p>Below are our courses provided.</p>
            <hr class="bottom-line">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 padleft-right">
                <figure class="imghvr-slide-left">
                    <img src="https://s3-us-west-1.amazonaws.com/minalanguage/media/china-flag.png"
                         class="img-responsive">
                    <figcaption>
                        <h3>Chinese Intro/Intermediate/Advanced</h3>
                        <p>Students be able to:</p>
                        <p> - Read and write Pinyin and Tones competently</p>
                        <p> - Understand Chinese grammar and sentence patterns</p>
                        <p> - Acquire basic knowledge of Chinese cultures such as traditional arts and lifestyle</p>
                        <p> - Effectively conduct simple conversations in different situations</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6 padleft-right">
                <figure class="imghvr-slide-right">
                    <img src="https://s3-us-west-1.amazonaws.com/minalanguage/media/korea-flag.png"
                         class="img-responsive">
                    <figcaption>
                        <h3>Korean Intro/Intermediate/Advanced</h3>
                        <p>Students will learn to:</p>
                        <p> - Read and write Hangeul competently</p>
                        <p> - Understand Korean grammar and sentence patterns</p>
                        <p> - Develop knowledge on the Korean culture</p>
                        <p> - Confidently use appropriate greetings and expressions in daily life</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>