<section id="pricing" class="section-padding">
    <div class="container">
        <div class="header-section mx-auto text-center">
            <h2>Our Pricing</h2>
            <p>We have hourly rates, session rates, or a monthly rate to fit your wallet and schedule</p>
            <hr class="bottom-line">
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="price-table">
                    <!-- Plan  -->
                    <div class="pricing-head">
                        <h4>Hourly</h4>
                        <span class="fa fa-usd curency"></span> <span class="amount">60</span>
                    </div>

                    <!-- Plean Detail -->
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg green btn-block" data-target="#login" data-toggle="modal">
                            SIGN IN TO BOOK
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="price-table">
                    <!-- Plan  -->
                    <div class="pricing-head">
                        <h4>5 Sessions</h4>
                        <span class="fa fa-usd curency"></span> <span class="amount">280</span>
                    </div>

                    <!-- Plean Detail -->
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg yellow btn-block" data-target="#login" data-toggle="modal">
                            SIGN IN TO PURCHASE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="price-table">
                    <!-- Plan  -->
                    <div class="pricing-head">
                        <h4 class="text-nowrap">Monthly/8 Sessions</h4>
                        <span class="fa fa-usd curency"></span> <span class="amount">400</span>
                    </div>

                    <!-- Plean Detail -->
                    <div class="price-in mart-15">
                        <a href="#" class="btn btn-bg red btn-block" data-target="#login"
                           data-toggle="modal">SUBSCRIBE</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>