{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Book a meeting{% endblock %}
{% block content %}
    {% load humanize %}

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="https://tracking.propelmedia.com/?id=1G8FEFG8CCAGFB0E2FFE&fetch=0&value=0">
    </script>
    <noscript>
        <div style="display: inline;">
            <img height="1" width="1" style="border-style: none;" alt=""
                 src="https://tracking.propelmedia.com/?id=1G8FEFG8CCAGFB0E2FFE&fetch=1&value=0"/>
        </div>
    </noscript>

    <h1>Mina's calendar</h1>
    <h3 class="text-warning">Next meeting:
        {% if next_meeting.start %}{{ next_meeting.start | naturaltime }}{% else %}
            {{ next_meeting }}{% endif %}</h3>
    <div class="row">
        <div class="col-md-8 calendar-container">
            <div id="calendar"></div>
        </div>
        <div class="col-md-4">
            <div>
                <p>Tips:
                <p><i class="fa fa-hand-o-right"></i> <strong>$20 discount</strong> when you book over 5 hours!</p>
                <p><i class="fa fa-hand-o-right"></i> You can select <strong>multiple hours at once</strong>, days and
                    even weeks in advance!</p>
                <p><i class="fa fa-hand-o-right"></i> You can <strong>edit the meeting</strong> by clicking on it or
                    moving it, after you've booked a meeting</p>
                <p><i class="fa fa-hand-o-right"></i> The <strong>"Subscribe"</strong> button will be enabled when you
                    have selected 2 hours on the calendar. This will be a
                    recurring event until you have canceled it in <strong>Meeting List</strong>.</p>
                <p><i class="fa fa-hand-o-right"></i> When you are booking a new meeting and made a mistake, you can
                    click <strong>"Reset Calendar"</strong> to start
                    over!</p>
            </div>
            <div class="jumbotron">
                <p>Duration: <span id="duration">0</span> hour(s)</p>
                <p>Total: $<span class="initial_dollar">0</span></p>
            </div>
            <div class="btn-group btn-group-justified" style="margin-bottom: 5px;">
                <div class="btn-group">
                    <button id="pay_btn" class="btn btn-primary" disabled>
                        Pay via <i class="fa fa-cc-stripe"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button id="subscribe_btn" class="btn btn-success" disabled="disabled">
                        Subscribe
                    </button>
                </div>
            </div>

            <button id="reset_btn" class="btn btn-default btn-block">Reset Calendar</button>

            {% if user.is_staff %}
                <button id="super_btn" class="btn btn-danger" style="margin-top: 5px;">SUPER BUTTON</button>
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-12">
            <div class="errors"></div>
        </div>
    </div>

    {% render_bundle 'calendar' %}
{% endblock %}