{% extends 'home.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}List meetings{% endblock %}
{% block user_home %}
    <h2 class="text-center">Appointment List</h2>
    {% if meetings %}
        <h4>Upcoming</h4>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>Begin Time</th>
                    <th>End Time</th>
                    <th>Class Location</th>
                    <th>Meeting Type</th>
                    <th>Class Type</th>
                    {% if user.is_staff %}
                        <th>Student</th>
                        <th>Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    {% if not meeting.is_in_past %}
                        <tr>
                            <td>{{ meeting.start|date:"m/d/y, P" }}</td>
                            <td>{{ meeting.end|date:"m/d/y, P" }}</td>
                            <td>{{ meeting.class_location }}</td>
                            <td>{{ meeting.book_type }}</td>
                            <td>{{ meeting.class_type }}</td>
                            {% if user.is_staff %}
                                <td>{{ meeting.user.get_full_name }}</td>
                                <td><a href="{% url 'remove_meeting' meeting.id %}" class="btn btn-danger">Remove</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h4>Past</h4>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>Begin Time</th>
                    <th>End Time</th>
                    <th>Class Location</th>
                    <th>Meeting Type</th>
                    <th>Class Type</th>
                    {% if user.is_staff %}
                        <th>Student</th>
                        <th>Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    {% if meeting.is_in_past %}
                        <tr class="text-danger">
                            <td>{{ meeting.start|date:"m/d/y, P" }}</td>
                            <td>{{ meeting.end|date:"m/d/y, P" }}</td>
                            <td>{{ meeting.class_location }}</td>
                            <td>{{ meeting.book_type }}</td>
                            <td>{{ meeting.class_type }}</td>
                            {% if user.is_staff %}
                                <td>{{ meeting.user.get_full_name }}</td>
                                <td><a href="{% url 'remove_meeting' meeting.id %}" class="btn btn-danger">Remove</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h4>Subscriptions</h4>
        {% if subscription_list %}
            <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>Begin Time</th>
                <th>End Time</th>
                <th>Date Created</th>
                <th>Meeting Type</th>
                <th>Class Type</th>
                <th>Unsubscribe</th>
                {% if user.is_staff %}
                    <th>Student</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for meeting in subscription_list %}
                <tr class="text-success">
                    <td>{{ meeting.start|date:"P" }}</td>
                    <td>{{ meeting.end|date:"P" }}</td>
                    <td>{{ meeting.created_at }}</td>
                    <td>{{ meeting.book_type }}</td>
                    <td>{{ meeting.class_type }}</td>
                    <td>
                        <button data-href="{% url 'unsubscribe' meeting.transaction_id %}"
                                data-id="{{ meeting.transaction_id }}"
                                class="btn btn-default btn-unsubscribe">Unsubscribe
                        </button>
                    </td>
                    {% if user.is_staff %}
                        <td>{{ meeting.user.get_full_name }}</td>

                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <tr>Nothing yet</tr>
        {% endif %}
    </table>
    </div>
    {% else %}
        <h4 class="text-center">Nothing yet! <a href="{% url 'book_meeting' %}">Book</a> a meeting and start your
            journey!</h4>
        <p class="text-center">Or book a free <a href="{% url 'free_consultation' %}">consultation</a> and talk to Mina
            about your needs and concerns!</p>
    {% endif %}
{% endblock %}