{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}List meetings{% endblock %}
{% block content %}
    <h1 class="text-center">Hello, {{ user.get_full_name }}. Here's your list of events</h1>
    {% if meetings %}
        <h2>Upcoming</h2>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>Begin Time</th>
                <th>End Time</th>
                <th>Class Location</th>
                <th>Meeting Type</th>
                {% if user.is_superuser %}
                    <th>Student</th>
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for meeting in meetings %}
                {% if not meeting.is_in_past %}
                    <tr>
                        <td>{{ meeting.start }}</td>
                        <td>{{ meeting.end }}</td>
                        <td>{{ meeting.class_location }}</td>
                        <td>{{ meeting.book_type }}</td>
                        {% if user.is_superuser %}
                            <td>{{ meeting.user.get_full_name }}</td>
                            <td><a href="{% url 'remove_meeting' meeting.id %}" class="btn btn-danger">Remove</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <h2>Past</h2>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>Begin Time</th>
                <th>End Time</th>
                <th>Class Location</th>
                <th>Meeting Type</th>
                {% if user.is_superuser %}
                    <th>Student</th>
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for meeting in meetings %}
                {% if meeting.is_in_past %}
                    <tr class="text-danger">
                        <td>{{ meeting.start }}</td>
                        <td>{{ meeting.end }}</td>
                        <td>{{ meeting.class_location }}</td>
                        <td>{{ meeting.book_type }}</td>
                        {% if user.is_superuser %}
                            <td>{{ meeting.user.get_full_name }}</td>
                            <td><a href="{% url 'remove_meeting' meeting.id %}" class="btn btn-danger">Remove</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Nothing yet! Book some meetings!</h1>
    {% endif %}


{% endblock %}