{% extends 'Global.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Main Page{% endblock %}
{% block content %}
{% url 'user_home' as user_home %}
{% url 'list_meetings' as user_meetings %}
{% url 'file_list' as file_url %}
{% url 'contact_us' as contact_us %}

    {% load humanize %}
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == user_home %}active{% endif %}" href="{% url 'user_home' %}">Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == user_meetings %}active{% endif %}" href="{% url 'list_meetings' %}">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == file_url %}active{% endif %}" href="{% url 'file_list' %}">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == contact_us %}active{% endif %}" href="{% url 'contact_us' %}">Contact us</a>
                </li>
            </ul>

            <ul class="nav nav-tabs flex-column">
            </ul>

            <ul class="nav nav-tabs flex-column">
            </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            {% block user_home %}{% endblock %}
        </main>
    </div>
    {% render_bundle 'main' %}
{% endblock %}