<footer id="footer" class="footer">
    <div class="container text-center">
        <img src="https://s3-us-west-1.amazonaws.com/minalanguage/media/botlogo.png"
             class="bottom-logo img-responsive mx-auto"/>
        <ul class="social-links">
            <li><a href="https://twitter.com/zxoct11"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="https://www.facebook.com/Mina.OmO"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="https://www.instagram.com/mina1011_omo/"><i class="fa fa-instagram fa-fw"></i></a></li>
        </ul>
        <div class="credits">
            Copyright © {% now "Y" %} Mina Jeong. All rights reserved.
        </div>
    </div>
</footer>