{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% render_bundle 'vendor' %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Load fonts here -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>
{% block navbar %}{% endblock %}
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
</body>
</html>