{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% render_bundle 'vendor' %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Load fonts here -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
{% include 'Nav.html' %}
{% block main_page %}{% endblock %}
<div class="container" style="margin-top: 65px">
    {% block content %}{% endblock %}
</div>
{% include 'Footer.html' %}
</body>
</html>