{% extends 'home.html' %}
{% load humanize %}
{% block user_home %}
    <h1>Welcome, {{ user.get_full_name }}</h1>

    <section class="row text-center placeholders">
        <div class="col-12 col-md-6 placeholder">
            <div class="card">
                <h5 class="card-header">Big word of the day</h5>
                <div class="card-body">
                    <h4 class="card-title">
                        English: {{ wordofday.eng|capfirst }}
                        <br>Korean: <a target="_blank"
                                       href="https://translate.google.com/#en/ko/{{ wordofday.eng }}">{{ wordofday.kor }}</a>
                        <br>Chinese: <a target="_blank"
                                        href="https://translate.google.com/#en/zh-CN/{{ wordofday.eng }}">{{ wordofday.chi }}</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 placeholder">
            <div class="card">
                <h5 class="card-header">Upcoming class</h5>
                <div class="card-body">
                    {% if next_meeting != 'none' %}
                        <h4 class="card-title">
                            {% if next_meeting.start %}{{ next_meeting.start }}{% else %}
                                {{ next_meeting }}{% endif %}</h4>
                        <p class="card-text">Your
                            next {{ next_meeting.book_type }} {{ next_meeting.class_type|capfirst }} class
                            happens
                            {% if next_meeting.start %}{{ next_meeting.start | naturaltime }}{% else %}
                                {{ next_meeting }}{% endif %}</p>
                        <a href="{% url 'list_meetings' %}" class="btn btn-primary">View more...</a>
                    {% else %}
                        <h4 class="card-title">You have no appointments coming up</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 placeholder">
            <div class="card">
                <h5 class="card-header">Most Recent Class</h5>
                <div class="card-body">
                    {% if latest_outline != 'none' %}
                        <h4 class="card-title">
                            {{ latest_outline.name|capfirst }}</h4>
                        <p class="card-text">Your most recent class
                            covered {{ latest_outline.name|capfirst }}
                            from
                            {% if parent_outline != 'none' %}
                                {{ parent_outline.name|capfirst }}
                            {% else %}
                                {{ latest_outline.program|capfirst }}
                            {% endif %}
                        </p>
                        <a href="{% url 'list_outline' latest_outline.program %}" class="btn btn-primary">See
                            Entire Outline</a>
                    {% else %}
                        <h4 class="card-title">You did not complete a class</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 placeholder">
            <div class="card">
                <h5 class="card-header">Recent Files</h5>
                <div class="card-body">
                    {% if recent_upload != 'none' %}
                        <div class="list-group">
                            {% for file in recent_upload %}
                                <a href="http://minalanguage.s3.amazonaws.com/{{ file.file }}"
                                   class="list-group-item list-group-item-action">{{ file.name }}</a>
                            {% endfor %}
                        </div>
                        <a href="{% url 'file_list' %}" class="btn btn-primary">More</a>
                    {% else %}
                        <h4 class="card-title">You have no files</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}